.signup {
  display: flex;
  flex-direction: column;
  @media screen and (max-width: 768px) {
    margin-top: 30px;
  }
  .info {
    margin: 10px 0;
  }
  button {
    @media screen and (max-width: 768px) {
      margin-bottom: 25px;
    }
  }
}
