.header {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;

  .menuContainer {
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: flex-end;
    @media screen and (max-width: 768px) {
      width: auto;
    }
    .menuItem {
      padding: 0 15px;
      text-decoration: none;
      color: #000;
      cursor: pointer;
    }
  }
}
